[submodule "data"]
	path = data
	url = git@git.rwth-aachen.de:acs/internal/automation/covee-control/covee-control-data.git
[submodule "powerflow/submodules/dmu"]
	path = powerflow/submodules/dmu
	url = git@git-ce.rwth-aachen.de:acs/internal/automation/modules/dmu.git
[submodule "pv_centralized/submodules/dmu"]
	path = pv_centralized/submodules/dmu
	url = git@git-ce.rwth-aachen.de:acs/internal/automation/modules/dmu.git
[submodule "pv_centralized"]
	path = pv_centralized
	url = git@git-ce.rwth-aachen.de:acs/private/research/edgeflex/pv_centralized.git
