[submodule "data"]
	path = data
	url = git@git.rwth-aachen.de:acs/public/automation/covee/covee-control-data.git
[submodule "pv_centralized/submodules/dmu"]
	path = pv_centralized/submodules/dmu
	url = git@git.rwth-aachen.de:acs/public/automation/modules/dmu.git